body {
  background-color: blanchedalmond;
}

header {
  background-color: pink;
  margin: 1.5em;
  padding: .2em;
}

main {
  background-color: lightpink;
  margin: 3em;
  padding: .3em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: .4em;
}

p {
  color: grey;
}

header p {
  text-align: center;
}

main p {
  text-align: end;
}

li {
  list-style: inside;
  margin: .25em;
  padding-left: 1em;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: upper-roman;
}